@model List<CategoriaProduto>

<style>
    .fondo {
        background-color: #0d9cc4;
        transition: transform 0.3s ease;
    }

        .fondo:hover {
            transform: translateY(-5px);
        }
</style>

@if (Model != null)
{
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card p-3 shadow">
                   <h2>¿Que necesitas?</h2>
                    <div class="container">
                        <div class="row">
                            @foreach (var categoria in Model)
                            {
                                <div class="col-md-2 mb-3">
                                    <a asp-action="Productos" asp-controller="Deportes" asp-route-IdCategoriaProducto="@categoria.IdCategoriaProducto">
                                        <div class="card p-4 shadow  text-white fondo">
                                            <label class="form-label">@categoria.Nombre</label>
                                        </div>
                                    </a>
                                </div>
                    
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


